body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 14px;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
}

.container {
  width: 48rem;
  margin: 0 auto;
}

.header h1 {
  font-weight: 300;
  text-align: center;
}

input:disabled {
  background: #eee;
}

.explain-input {
  font-family: monospace;
  font-size: 0.8rem;
}

.error-message {
  padding:
  background-color: #fafafa;
  color: #d02c2c;
}

.footer {
  color: #999;
  text-align: center;
  padding: 0.25rem 0 1rem;
  margin-top: 1rem;
  border-top: 1px solid #eee;
}

.footer a {
    color: #666;
}
